<div class="top_wp">
    <h2>Application Tracking</h2>

</div>
<div class="appli-upcomingDeadlines">
    <h6>Upcoming Deadlines</h6>
    <div class="deadline-list">
        <div class="listing"><i class="icon-Asset-116"></i><span>Oxford: Reference Letter Submission</span><button class="learn-btn">Learn more</button><button class="done-btn">Done</button></div>
        <div class="listing"><i class="icon-Asset-116"></i><span>SAT exam, 9am @ 2nd Oct 2023</span><button class="learn-btn">Learn more</button><button class="done-btn">Done</button></div>
    </div>
    <div class="appli-li-applylist">
        <h6>Upcoming Deadlines</h6>
        <div class="appli-listbox">
            <div class="card">
                <div class="flx">
                    <img src="images/harvarduniversity.png" /><strong>TOP </br> 30 Sep </strong>
                </div>
                <button class="btn-clr1">Applied</button>
            </div>
            <div class="card">
                <div class="flx">
                    <img src="images/cambridgeuniversity.png" /><strong>TOP </br> 30 Sep </strong>
                </div>
                <button class="btn-clr1">To Apply</button>
            </div>
            <div class="card">
                <div class="flx">
                    <img src="images/oxforduniver.png" /><strong>TOP </br> 31 OCT </strong>
                </div>
                <button class="btn-clr1">To Apply</button>
            </div>
            <div class="card">
                <div class="flx">
                    <img src="images/stanforduniversity.png" /><strong>TOP </br> 30 Sep </strong>
                </div>
                <button class="btn-clr1">To Apply</button>
            </div>
            <div class="card">
                <div class="flx">
                    <img src="images/tesuniversity.png" /><strong>TOP </br> 30 Sep </strong>
                </div>
                <button class="btn-clr1">To Apply</button>
            </div>
        </div>
        <div class="appli-listbox">
            <div class="card card-2">
                <div class="flx">
                    <img src="images/Cornell.png" /><strong>TOP </br> 30 Sep </strong>
                </div>
                <button class="btn-clr2">Applied</button>
            </div>
            <div class="card card-2">
                <div class="flx">
                    <img src="images/michigan.png" /><strong>TOP </br> 30 Sep </strong>
                </div>
                <button class="btn-clr2">To Apply</button>
            </div>
            <div class="card card-2">
                <div class="flx">
                    <img src="images/LSE.png" /><strong>TOP </br> 30 Sep </strong>
                </div>
                <button class="btn-clr2">To Apply</button>
            </div>
            <div class="card card-2">
                <div class="flx">
                    <img src="images/LSC.png" /><strong>TOP </br> 30 Sep </strong>
                </div>
                <button class="btn-clr2">To Apply</button>
            </div>
            <div class="card card-2">
                <div class="flx">
                    <img src="images/austin.png" /><strong>TOP </br> 30 Sep </strong>
                </div>
                <button class="btn-clr2">To Apply</button>
            </div>
        </div>
        <div class="appli-listbox">
            <div class="card card-3">
                <div class="flx">
                    <img src="images/bostoniese.png" /><strong>TOP </br> 30 Sep </strong>
                </div>
                <button class="btn-clr3">Applied</button>
            </div>
            <div class="card card-3">
                <div class="flx">
                    <img src="images/dd186367-b765-4a79-95f0-28ce64982710.png" /><strong>TOP </br> 30 Sep </strong>
                </div>
                <button class="btn-clr3">To Apply</button>
            </div>

        </div>
    </div>
</div>