<div class="appli-ai-dashboard">
    <div class="breadcrumbs"><a href="" class="aldrichft">Home</a></div>
    <div class="textcontainer">
        <h2>Hello Jay!</h2>
        <div class="appli-ai-para flx"><img src="images/landingicon.png" alt="" width="60"><span class="txt aldrichft">Need Help? Chat with Ti</span><i></i>
            <ul class="profiletab">
                <li><i class="icon-Asset-122"></i><span class="">Settings</span></li>
                <li><i class="icon-Asset-130"></i><span class="">Log out</span></li>
            </ul>
        </div>

    </div>
    <div class="appli-list-container">
        <div class="appli-list">
            <h2><i class="icon-Asset-147"></i>Program Matching</h2>
            <ul>
                <li>
                    <em class=""><i class="icon-Asset-142"></i></em>
                    <p><span class="aldrichft">Top Programs</span>
                        <strong class="count">8</strong>
                        <button class="">View Details</button>
                    </p>

                </li>
                <li>
                    <em><i class="icon-Asset-143"></i></em>
                    <p><span class="aldrichft">Medium Programs</span>
                        <strong class="count">10</strong>
                        <button class="">View Details</button>
                    </p>

                </li>
                <li>
                    <em><i class="icon-Asset-141"></i></em>
                    <p><span class="aldrichft">Back-Up Programs</span>
                        <strong class="count">5</strong>
                        <button class="">View Details</button>
                    </p>

                </li>
            </ul>
        </div>

        <div class="appli-cardbox">
            <h2><i class="icon-Asset-148"></i>Application Monitoring </h2>
            <div class="appli-box">
                <div class="appli-card-list">
                    <div class="appli-set">
                        <div class="icon-list"><i class="icon-Asset-136"></i></div>
                        <p>Application Tracking</p>
                    </div>
                    <button class="clr1">View Details</button>
                </div>
                <div class="appli-card-list">
                    <div class="appli-set">
                        <div class="icon-list"><i class="icon-Asset-137"></i></div>
                        <p>Application Materials Prep</p>
                    </div>
                    <button class="clr2">Upgrade to Pro</button>
                </div>
                <div class="appli-card-list">
                    <div class="appli-set">
                        <div class="icon-list"><i class="icon-Asset-138"></i></div>
                        <p>Interview Prep</p>
                    </div>
                    <button class="clr2">Upgrade to Pro</button>
                </div>
                <div class="appli-card-list">
                    <div class="appli-set">
                        <div class="icon-list"><i class="icon-Asset-139"></i></div>
                        <p>Standard Exams Prep</p>
                    </div>
                    <button class="clr2">Upgrade to Pro</button>
                </div>
                <div class="appli-card-list">
                    <div class="appli-set">
                        <div class="icon-list"><i class="icon-Asset-140"></i></div>
                        <p>Visa Application Prep</p>
                    </div>
                    <button class="clr2">Upgrade to Pro</button>
                </div>
            </div>
        </div>

        <div class="appli-list resource-matching">
            <h2 class="light-blu"><i class="icon-Asset-149"></i>Resource Matching </h2>
            <ul>
                <li>
                    <em><i class="icon-Asset-145"></i></em>
                    <p><span class="aldrichft">Suitable Consultant</span>
                        <strong class="count">8</strong>
                        <button class="">View Details</button>
                    </p>

                </li>
                <li>
                    <em><i class="icon-Asset-144"></i></em>
                    <p><span class="aldrichft">Suitable Tutors</span>
                        <strong class="count">10</strong>
                        <button class="">View Details</button>
                    </p>

                </li>
                <li>
                    <em><i class="icon-Asset-146"></i></em>
                    <p><span class="aldrichft">Suitable Mentors</span>
                        <strong class="count">5</strong>
                        <button class="">View Details</button>
                    </p>

                </li>
            </ul>
        </div>
    </div>
</div>