<div class="appli-myprofile">
    <div class="pagetitle aldrichft">Me/My Profile</div>
    <div class="appli-content">
        <div class="profileleft">
            <div class="profile-pic-containter">
                <span class="userinfo">
                <img src="images/user.jpg"> <i class="icon-Asset-113 editcontain"></i>
                </span>
                <span class="username aldrichft">Jay Rutherford</span>
                <div class="profile-description aldrichft">
                    Undergraduate Applicant Aim to get enrolled in 2024
                    <span class="location">NY,US</span>
                </div>
            </div>

            <div class="box-container">
                <div class="box-heading flx">
                    <span class="aldrichft">My Document <i class="icon-Asset-113 editcontain"></i></span>
                    <span class="btn-download">Download all</span>
                </div>
                <div class="box">
                    <div class="tb-row">
                        <span class="round-tick icon-Asset-118"></span><span class="txt-name">Resume/CV</span><span class="status upload-btn">Uploaded</span><span class="moreoption"><i class="attachedicon icon-Asset-108"></i><i class="editicon icon-Asset-110"></i></span>                        <span class="checkbox checked"></span>
                    </div>
                    <div class="tb-row">
                        <span class="round-tick icon-Asset-118"></span><span class="txt-name">Transcript</span><span class="status pending-btn">Pending</span><span class="moreoption"><i class="attachedicon icon-Asset-108"></i><i class="editicon icon-Asset-110"></i></span>                        <span class="checkbox"></span>
                    </div>
                    <div class="tb-row">
                        <span class="round-tick icon-Asset-118"></span><span class="txt-name">PS/ SOP</span><span class="status pending-btn">Pending</span><span class="moreoption"><i class="attachedicon icon-Asset-108"></i><i class="editicon icon-Asset-110"></i></span>                        <span class="checkbox"></span>
                    </div>
                    <div class="tb-row">
                        <span class="round-tick icon-Asset-118"></span><span class="txt-name">Other Essays</span><span class="status pending-btn">Pending</span><span class="moreoption"><i class="attachedicon icon-Asset-108"></i><i class="editicon icon-Asset-110"></i></span>                        <span class="checkbox"></span>
                    </div>
                </div>
                <div class="box-heading">
                    <span class="aldrichft">Service Seeking <i class="icon-Asset-113 editcontain"></i></span>
                </div>
                <div class="box">
                    <div class="tb-row">
                        <span class="round-tick icon-Asset-118"></span><span class="txt-name">Seeking for Consultant</span><span class="tags-container"><em class="tag clr1"><i class="icon-Asset-107 save-i"></i>Material Preparation</em><em class="tag clr1"><i class="icon-Asset-107 save-i"></i>USD 1,000</em><em class="tag clr1"><i class="icon-Asset-107 save-i"></i>In-person</em></span>
                    </div>
                    <div class="tb-row">
                        <span class="round-tick icon-Asset-118"></span><span class="txt-name">Seeking for
                            Peer Mentor</span><span class="tags-container"><em class="tag clr2"><i class="icon-Asset-107 save-i"></i>Material Preparation</em><em class="tag clr2"><i class="icon-Asset-107 save-i"></i>USD 1,000</em></span>
                    </div>

                </div>

                <div class="box-heading">
                    <span class="aldrichft">My Referee(s) <i class="icon-Asset-113 editcontain"></i></span>
                </div>
                <div class="box table-box">
                    <div class="tb-head">
                        <div class="tb-row">
                            <span class="checkbox"></span><span class="tr-name">Name</span><span class="tr-mail">Email</span><span class="tr-status">Action/Status</span>
                        </div>

                    </div>
                    <div class="tb-content">
                        <div class="tb-row">
                            <span class="checkbox checked"></span><span class="tr-name"><label>Elizabeth Lopez</label><sub>Teacher @ PAA</sub></span><span class="tr-mail">elopez@yahoo.com</span><span class="tr-status"><button class="status green-clr">Request accepted</button></span>
                        </div>
                        <div class="tb-row">
                            <span class="checkbox"></span><span class="tr-name"><label>Elizabeth Lopez</label><sub>Teacher @ PAA</sub></span><span class="tr-mail">ewatson@yahoo</span><span class="tr-status"><button class="status clr3">Request has been sent</button></span>
                        </div>
                        <div class="tb-row">
                            <span class="checkbox"></span><span class="tr-name"><label>Caleb Jones</label><sub>COO @ Appli-Ai</sub></span><span class="tr-mail">calebjones@gmail.com</span><span class="tr-status"><button class="status brownclr">To request for reference</button></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="profileright">
            <div class="basewrapper">

                <div class="box">
                    <div class="basetitle">Preference & Profile <i class="icon-Asset-113 editcontain"></i></div>
                    <div class="tb-row">
                        <span class="round-tick icon-Asset-118"></span><span class="txt-name">Program Preference </span>
                        <div class="tags-container"><span class="tag-box"><em class="tag clr1"><i class="icon-Asset-107 save-i"></i>Bachelor Degree</em><em class="tag clr1"><i class="icon-Asset-107 save-i"></i>Better Career</em></span>
                            <span class="tag-box">
                                <em class="tag clr1"><i class="icon-Asset-107 save-i"></i>In-person</em>
                                <em class="tag clr1"><i class="icon-Asset-107 save-i"></i>Full-time</em>
                                <em class="tag clr1"><i class="icon-Asset-107 save-i"></i>2 to 4 years</em>
                                <em class="tag clr1"><i class="icon-Asset-107 save-i"></i>USD 200K</em>
                            </span>

                            <span class="tag-box">
                                <em class="tag brownclr"><i class="icon-Asset-107 save-i"></i>Not sure about the Country</em><button class="btn-download recommended" id="choosecountry">See the Recommendation of Country by Ti</button>

                            </span>
                            <span class="tag-box">
                                <em class="tag brownclr"><i class="icon-Asset-107 save-i"></i>Not sure about the Major</em><button class="btn-download recommended" id="choosemajor">See the Recommendation of Major by Ti</button>

                            </span>

                        </div>
                    </div>
                    <div class="tb-row">
                        <span class="round-tick icon-Asset-118"></span><span class="txt-name">My Profile</span><span class="tags-container"><em class="tag clr2"><i class="icon-Asset-107 save-i"></i>Male</em><em class="tag clr2"><i class="icon-Asset-107 save-i"></i>18</em><em class="tag clr2"><i class="icon-Asset-107 save-i"></i>SAT 1500 (expected)</em><em class="tag clr2"><i class="icon-Asset-107 save-i"></i>Native Speaker of English</em></span>
                    </div>

                    <div class="tb-row">
                        <span class="round-tick icon-Asset-118"></span><span class="txt-name">Career Aspirations</span><span class="tags-container"><em class="tag clr3"><i class="icon-Asset-107 save-i"></i>US & EU</em><em class="tag clr3"><i class="icon-Asset-107 save-i"></i>Investment</em><em class="tag clr3"><i class="icon-Asset-107 save-i"></i>Investment Banking</em><em class="tag clr3"><i class="icon-Asset-107 save-i"></i>US</em></span>
                    </div>

                </div>

                <div class="box">
                    <div class="basetitle">Education <i class="icon-Asset-113 editcontain"></i></div>
                    <div class="flx">
                        <div class="logo-relate">
                            <img src="images/logo2.png" alt="" />
                        </div>
                        <div class="ti-rightct">
                            <h5>Phillips Academy Andover, Andover</h5>
                            <div class="ti-element"><i class="icon-Asset-127"></i> Eleventh Grade</div>
                            <div class="ti-element"><i class="icon-Asset-106"></i> 2021 - 2024</div>
                        </div>
                    </div>


                </div>

                <div class="box">
                    <div class="basetitle">Work Experience <i class="icon-Asset-113 editcontain"></i></div>
                    <div class="flx">
                        <div class="logo-relate">
                            <img src="images/logo1.png" alt="" />
                        </div>
                        <div class="ti-rightct">
                            <h5>Operation Intern <button class="clr4 workstatus">Working</button></h5>
                            <div class="ti-element"><span class="li-icon"><i class="icon-Asset-107"></i>Part-time</span> <span class="li-icon"><i class="icon-Asset-111"></i>Appli-Ai</span><span class="li-icon"><i class="icon-Asset-106"></i> July 2023 - Present · 1 mos</span></div>
                            <p>Assist the COO in the daily operation .</p>
                        </div>
                    </div>


                </div>

                <div class="box">
                    <div class="basetitle">Extracurricular Activities <i class="icon-Asset-113 editcontain"></i></div>
                    <div class="flx">
                        <div class="logo-relate">
                            <img src="images/logo3.png" alt="" />
                        </div>
                        <div class="ti-rightct">
                            <h5>Volunteer <button class="clr4 workstatus">Working</button></h5>
                            <div class="ti-element"><span class="li-icon"><i class="icon-Asset-107"></i>Volunteering</span> <span class="li-icon"><i class="icon-Asset-111"></i>Green Pines Nursing Home </span><span class="li-icon"><i class="icon-Asset-106"></i> July  2022- Present ·1 year 1 mos</span></div>
                            <p>Led senior citizens in arts and crafts.</p>
                        </div>
                    </div>


                </div>
                <div class="box">
                    <div class="basetitle">Honours & Prizes <i class="icon-Asset-113 editcontain"></i></div>
                    <div class="tb-row basecontent">
                        <span class="round-tick icon-Asset-118"></span><span class="txt-name">International Mathematical Olympiad 2023</span><span class="tags-container"><em class="tag clr5"><i class="icon-Asset-107 save-i"></i>2nd  Place</em></span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>