<div class="ti-recommendedtemplate">
    <h2>Which major should I choose?</h2>
    <div class="recommended-questions">
        <ul>
            <li class="flx">
                <p class="questions flx">
                    <span class="img-question"><img src="images/landingicon.png" alt="" class="mgicon" width="80"> </span><span class="aldrichft ques-desc">The type of work you want to do is</span>
                    <span class="clr1 questiontag">Investment</span>
                </p>
                <strong>
                    <button class="btn-confirm">Confirm</button>
                    <button class="btn-revise">Revise</button>
                </strong>
            </li>
            <li class="flx">
                <p class="questions flx">
                    <span class="img-question"><img src="images/landingicon.png" alt="" class="mgicon" width="80"> </span><span class="aldrichft ques-desc">The Industry you want to work is</span>
                    <span class="clr2 questiontag">Investment Banking</span>
                </p>
                <strong>
                    <button class="btn-confirm">Confirm</button>
                    <button class="btn-revise">Revise</button>
                </strong>
            </li>

        </ul>

        <div class="recommendation-options">
            <button class="btn-save" id="belowoptions">See the recommendatiion by Ti</button>
            <ul>
                <li>
                    <span class="optq">Finance</span>
                    <strong>
                        <button class="btn-confirm">Select</button>
                        <button class="btn-revise">Remove</button>
                    </strong>
                </li>
                <li>
                    <span class="optq">Economics</span>
                    <strong>
                        <button class="btn-confirm">Select</button>
                        <button class="btn-revise">Remove</button>
                    </strong>
                </li>
                <li>
                    <span class="optq">Mathematics</span>
                    <strong>
                        <button class="btn-confirm">Select</button>
                        <button class="btn-revise">Remove</button>
                    </strong>
                </li>
                <li>
                    <span class="optq">Computer Science</span>
                    <strong>
                        <button class="btn-confirm">Select</button>
                        <button class="btn-revise">Remove</button>
                    </strong>
                </li>
            </ul>


            <button class="btn-save saveprofile">Return to My Profile</button>
        </div>
    </div>
</div>