<div class="ti-recommendedtemplate ti-country">
    <h2>Which Country should I choose?</h2>
    <div class="recommended-questions">
        <ul>
            <li class="flx">
                <p class="questions flx">
                    <span class="img-question"><img src="images/landingicon.png" alt="" class="mgicon" width="80"> </span><span class="aldrichft ques-desc">Your purpose of pursuing this degree is to</span>
                    <span class="clr1 questiontag">Have a better career</span>
                </p>
                <strong>
                    <button class="btn-confirm">Confirm</button>
                    <button class="btn-revise">Revise</button>
                </strong>
            </li>
            <li class="flx">
                <p class="questions flx">
                    <span class="img-question"><img src="images/landingicon.png" alt="" class="mgicon" width="80"> </span><span class="aldrichft ques-desc">The country you want to work/live is</span>
                    <span class="clr2 questiontag">US</span>
                </p>
                <strong>
                    <button class="btn-confirm">Confirm</button>
                    <button class="btn-revise">Revise</button>
                </strong>
            </li>
            <li class="flx">
                <p class="questions flx">
                    <span class="img-question"><img src="images/landingicon.png" alt="" class="mgicon" width="80"> </span><span class="aldrichft ques-desc">The country you have authority to work/live is</span>
                    <span class="clr1 questiontag">US</span> <span class="clr1 questiontag">UK</span>
                </p>
                <strong>
                    <button class="btn-confirm">Confirm</button>
                    <button class="btn-revise">Revise</button>
                </strong>
            </li>
            <li class="flx">
                <p class="questions flx">
                    <span class="img-question"><img src="images/landingicon.png" alt="" class="mgicon" width="80"> </span><span class="aldrichft ques-desc">Your budget for the living cost per year is</span>
                    <span class="selectct"><select><option>Select the range</option></select></span>
                </p>
                <strong>
                    <button class="btn-confirm">Confirm</button>
                    <button class="btn-revise">Revise</button>
                </strong>
            </li>
            <li class="flx">
                <p class="questions flx">
                    <span class="img-question"><img src="images/landingicon.png" alt="" class="mgicon" width="80"> </span><span class="aldrichft ques-desc">Language you can speak professionally?</span>
                    <span class="selectct"><select><option>Select the range</option></select></span>
                </p>
                <strong>
                    <button class="btn-confirm">Confirm</button>
                    <button class="btn-revise">Revise</button>
                </strong>
            </li>
        </ul>

        <div class="recommendation-options">
            <button class="btn-save" id="belowoptions">See the recommendatiion by Ti</button>
            <ul>
                <li>
                    <span class="optq">US</span>
                    <strong>
                        <button class="btn-confirm">Select</button>
                        <button class="btn-revise">Remove</button>
                    </strong>
                </li>
                <li>
                    <span class="optq">UK</span>
                    <strong>
                        <button class="btn-confirm">Select</button>
                        <button class="btn-revise">Remove</button>
                    </strong>
                </li>
            </ul>


            <button class="btn-save saveprofile">Return to My Profile</button>
        </div>
    </div>
</div>