<div class="flx top_wp">
    <h2>Suitable Programs</h2>
    <div class="selectranking"><select><option>-Select the  Uni ranking system  you want to use-  </option></select></div>
</div>
<div class="table-header">
    <div class="wrapper">
        <div class="Rtable Rtable--5cols Rtable--collapse">
            <div class="Rtable-row Rtable-row--head">
                <div class="Rtable-cell checkbox column-heading"></div>
                <div class="Rtable-cell date-cell column-heading">UNIVERSITY</div>
                <div class="Rtable-cell topic-cell column-heading">COUNTRY</div>
                <div class="Rtable-cell access-link-cell column-heading">PROGRAM</div>
                <div class="Rtable-cell replay-link-cell column-heading">CATEGORY</div>
                <div class="Rtable-cell pdf-cell column-heading">TO REMOVE</div>
                <div class="Rtable-cell application-cell column-heading">TO ADD</div>
            </div>

            <div class="Rtable-row">
                <div class="rtable-sec">
                    <div class="Rtable-cell checkbox column-heading"></div>
                    <div class="Rtable-cell date-cell">

                        <div class="Rtable-cell--content date-content"><span class="university-t"><img src="images/stanforduniversity.png"> Stanford University</span></div>
                    </div>
                    <div class="Rtable-cell topic-cell">
                        <div class="Rtable-cell--content title-content">US</div>
                    </div>
                    <div class="Rtable-cell access-link-cell">
                        <div class="Rtable-cell--heading">Bachelor in Financial Mathematics</div>

                    </div>
                    <div class="Rtable-cell replay-link-cell">
                        <div class="Rtable-cell--heading">Top</div>

                    </div>
                    <div class="Rtable-cell Rtable-cell--foot pdf-cell">
                        <div class="Rtable-cell--content pdf-content"><a><i class="icon-Asset-112"></i>Remove</a></div>
                    </div>
                    <div class="Rtable-cell Rtable-cell--foot application-cell">
                        <div class="Rtable-cell--content pdf-content"><a><i class="icon-Asset-113"></i>Add to application list</a></div>
                    </div>
                    <div class="accord-arrow">
                        <span class="icon-Asset-109"></span>
                    </div>
                </div>

                <div class="accordion-container">
                    <div class="accord-content">
                        <div class="pg-description">
                            <h5>Program Description</h5>
                            <p>
                                Start date:18 September 2023</br>
                                Duration: 3 years full time</br>
                                Cost: £52,560</br>
                                Application fee: £110</br>
                            </p>
                        </div>

                        <div class="jb-description">
                            <h5>Job placement: </h5>
                            <p>
                                Industry Distribution:</br>
                                Coutry Distribution: </br>

                            </p>
                        </div>

                        <div class="entry-description">
                            <h5>Entry Requirements</h5>
                            <p>
                                Major Requirement:</br>
                                Degree Requirement:</br>
                                GPA Requirements:</br>
                                GMAT Requirements:</br>
                                Language Requirement:</br>
                                Work Experience Requirements: </br>

                            </p>
                        </div>
                        <div class="visa-policy">
                            <h5>Visa Policy </h5>
                            <p>
                                Student visa: 20hrs work time per week Work visa: two-years visa free policy after graduation Years of living in UK to be eligible for PR application : 5 years

                            </p>
                        </div>

                    </div>

                    <div class="accord-footer">
                        <div class="flx">
                            <h5>WEBSITE:</h5>
                            <p><a href="https://www.sbs.ox.ac.uk/programmes/degrees/msc-financial-economics">https://www.sbs.ox.ac.uk/programmes/degrees/msc-financial-economics</a></p>
                        </div>
                        <div class="flx">
                            <h5>Email:</h5>
                            <p><a mailto="MFE-Enquiries@sbs.ox.ac.uk">MFE-Enquiries@sbs.ox.ac.uk</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Rtable-row">
                <div class="rtable-sec">
                    <div class="Rtable-cell checkbox column-heading"></div>
                    <div class="Rtable-cell date-cell">

                        <div class="Rtable-cell--content date-content"><span class="university-t"><img src="images/mituniverstiy.png"> MIT</span></div>
                    </div>
                    <div class="Rtable-cell topic-cell">
                        <div class="Rtable-cell--content title-content">US</div>
                    </div>
                    <div class="Rtable-cell access-link-cell">
                        <div class="Rtable-cell--heading">Bachelor in Finance</div>

                    </div>
                    <div class="Rtable-cell replay-link-cell">
                        <div class="Rtable-cell--heading">Top</div>

                    </div>
                    <div class="Rtable-cell Rtable-cell--foot pdf-cell">
                        <div class="Rtable-cell--content pdf-content"><a><i class="icon-Asset-112"></i>Remove</a></div>
                    </div>
                    <div class="Rtable-cell Rtable-cell--foot application-cell">
                        <div class="Rtable-cell--content pdf-content"><a><i class="icon-Asset-113"></i>Add to application list</a></div>
                    </div>
                    <div class="accord-arrow">
                        <span class="icon-Asset-109"></span>
                    </div>
                </div>

                <div class="accordion-container">
                    <div class="accord-content">
                        <div class="pg-description">
                            <h5>Program Description</h5>
                            <p>
                                Start date:18 September 2023</br>
                                Duration: 3 years full time</br>
                                Cost: £52,560</br>
                                Application fee: £110</br>
                            </p>
                        </div>

                        <div class="jb-description">
                            <h5>Job placement: </h5>
                            <p>
                                Industry Distribution:</br>
                                Coutry Distribution: </br>

                            </p>
                        </div>

                        <div class="entry-description">
                            <h5>Entry Requirements</h5>
                            <p>
                                Major Requirement:</br>
                                Degree Requirement:</br>
                                GPA Requirements:</br>
                                GMAT Requirements:</br>
                                Language Requirement:</br>
                                Work Experience Requirements: </br>

                            </p>
                        </div>
                        <div class="visa-policy">
                            <h5>Visa Policy </h5>
                            <p>
                                Student visa: 20hrs work time per week Work visa: two-years visa free policy after graduation Years of living in UK to be eligible for PR application : 5 years

                            </p>
                        </div>

                    </div>

                    <div class="accord-footer">
                        <div class="flx">
                            <h5>WEBSITE:</h5>
                            <p><a href="https://www.sbs.ox.ac.uk/programmes/degrees/msc-financial-economics">https://www.sbs.ox.ac.uk/programmes/degrees/msc-financial-economics</a></p>
                        </div>
                        <div class="flx">
                            <h5>Email:</h5>
                            <p><a mailto="MFE-Enquiries@sbs.ox.ac.uk">MFE-Enquiries@sbs.ox.ac.uk</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Rtable-row">
                <div class="rtable-sec">
                    <div class="Rtable-cell checkbox column-heading"></div>
                    <div class="Rtable-cell date-cell">

                        <div class="Rtable-cell--content date-content"><span class="university-t"><img src="images/columbiauniversity.png"> Columbia University</span></div>
                    </div>
                    <div class="Rtable-cell topic-cell">
                        <div class="Rtable-cell--content title-content">US</div>
                    </div>
                    <div class="Rtable-cell access-link-cell">
                        <div class="Rtable-cell--heading">Bachelor in Finance</div>

                    </div>
                    <div class="Rtable-cell replay-link-cell">
                        <div class="Rtable-cell--heading">Top</div>

                    </div>
                    <div class="Rtable-cell Rtable-cell--foot pdf-cell">
                        <div class="Rtable-cell--content pdf-content"><a><i class="icon-Asset-112"></i>Remove</a></div>
                    </div>
                    <div class="Rtable-cell Rtable-cell--foot application-cell">
                        <div class="Rtable-cell--content pdf-content"><a><i class="icon-Asset-113"></i>Add to application list</a></div>
                    </div>
                    <div class="accord-arrow">
                        <span class="icon-Asset-109"></span>
                    </div>
                </div>

                <div class="accordion-container">
                    <div class="accord-content">
                        <div class="pg-description">
                            <h5>Program Description</h5>
                            <p>
                                Start date:18 September 2023</br>
                                Duration: 3 years full time</br>
                                Cost: £52,560</br>
                                Application fee: £110</br>
                            </p>
                        </div>

                        <div class="jb-description">
                            <h5>Job placement: </h5>
                            <p>
                                Industry Distribution:</br>
                                Coutry Distribution: </br>

                            </p>
                        </div>

                        <div class="entry-description">
                            <h5>Entry Requirements</h5>
                            <p>
                                Major Requirement:</br>
                                Degree Requirement:</br>
                                GPA Requirements:</br>
                                GMAT Requirements:</br>
                                Language Requirement:</br>
                                Work Experience Requirements: </br>

                            </p>
                        </div>
                        <div class="visa-policy">
                            <h5>Visa Policy </h5>
                            <p>
                                Student visa: 20hrs work time per week Work visa: two-years visa free policy after graduation Years of living in UK to be eligible for PR application : 5 years

                            </p>
                        </div>

                    </div>

                    <div class="accord-footer">
                        <div class="flx">
                            <h5>WEBSITE:</h5>
                            <p><a href="https://www.sbs.ox.ac.uk/programmes/degrees/msc-financial-economics">https://www.sbs.ox.ac.uk/programmes/degrees/msc-financial-economics</a></p>
                        </div>
                        <div class="flx">
                            <h5>Email:</h5>
                            <p><a mailto="MFE-Enquiries@sbs.ox.ac.uk">MFE-Enquiries@sbs.ox.ac.uk</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Rtable-row">
                <div class="rtable-sec">
                    <div class="Rtable-cell checkbox column-heading"></div>
                    <div class="Rtable-cell date-cell">

                        <div class="Rtable-cell--content date-content"><span class="university-t"><img src="images/tesuniversity.png">Princeton University</span></div>
                    </div>
                    <div class="Rtable-cell topic-cell">
                        <div class="Rtable-cell--content title-content">US</div>
                    </div>
                    <div class="Rtable-cell access-link-cell">
                        <div class="Rtable-cell--heading">Bachelor in Economics</div>

                    </div>
                    <div class="Rtable-cell replay-link-cell">
                        <div class="Rtable-cell--heading">Top</div>

                    </div>
                    <div class="Rtable-cell Rtable-cell--foot pdf-cell">
                        <div class="Rtable-cell--content pdf-content"><a><i class="icon-Asset-112"></i>Remove</a></div>
                    </div>
                    <div class="Rtable-cell Rtable-cell--foot application-cell">
                        <div class="Rtable-cell--content pdf-content"><a><i class="icon-Asset-113"></i>Add to application list</a></div>
                    </div>
                    <div class="accord-arrow">
                        <span class="icon-Asset-109"></span>
                    </div>
                </div>

                <div class="accordion-container">
                    <div class="accord-content">
                        <div class="pg-description">
                            <h5>Program Description</h5>
                            <p>
                                Start date:18 September 2023</br>
                                Duration: 3 years full time</br>
                                Cost: £52,560</br>
                                Application fee: £110</br>
                            </p>
                        </div>

                        <div class="jb-description">
                            <h5>Job placement: </h5>
                            <p>
                                Industry Distribution:</br>
                                Coutry Distribution: </br>

                            </p>
                        </div>

                        <div class="entry-description">
                            <h5>Entry Requirements</h5>
                            <p>
                                Major Requirement:</br>
                                Degree Requirement:</br>
                                GPA Requirements:</br>
                                GMAT Requirements:</br>
                                Language Requirement:</br>
                                Work Experience Requirements: </br>

                            </p>
                        </div>
                        <div class="visa-policy">
                            <h5>Visa Policy </h5>
                            <p>
                                Student visa: 20hrs work time per week Work visa: two-years visa free policy after graduation Years of living in UK to be eligible for PR application : 5 years

                            </p>
                        </div>

                    </div>

                    <div class="accord-footer">
                        <div class="flx">
                            <h5>WEBSITE:</h5>
                            <p><a href="https://www.sbs.ox.ac.uk/programmes/degrees/msc-financial-economics">https://www.sbs.ox.ac.uk/programmes/degrees/msc-financial-economics</a></p>
                        </div>
                        <div class="flx">
                            <h5>Email:</h5>
                            <p><a mailto="MFE-Enquiries@sbs.ox.ac.uk">MFE-Enquiries@sbs.ox.ac.uk</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Rtable-row">
                <div class="rtable-sec">
                    <div class="Rtable-cell checkbox column-heading"></div>
                    <div class="Rtable-cell date-cell">

                        <div class="Rtable-cell--content date-content"><span class="university-t"><img src="images/oxforduniversity.png">Oxford University</span></div>
                    </div>
                    <div class="Rtable-cell topic-cell">
                        <div class="Rtable-cell--content title-content">US</div>
                    </div>
                    <div class="Rtable-cell access-link-cell">
                        <div class="Rtable-cell--heading">Bachelor in Economics</div>

                    </div>
                    <div class="Rtable-cell replay-link-cell">
                        <div class="Rtable-cell--heading">Top</div>

                    </div>
                    <div class="Rtable-cell Rtable-cell--foot pdf-cell">
                        <div class="Rtable-cell--content pdf-content"><a><i class="icon-Asset-112"></i>Remove</a></div>
                    </div>
                    <div class="Rtable-cell Rtable-cell--foot application-cell">
                        <div class="Rtable-cell--content pdf-content"><a><i class="icon-Asset-113"></i>Add to application list</a></div>
                    </div>
                    <div class="accord-arrow">
                        <span class="icon-Asset-109"></span>
                    </div>
                </div>

                <div class="accordion-container">
                    <div class="accord-content">
                        <div class="pg-description">
                            <h5>Program Description</h5>
                            <p>
                                Start date:18 September 2023</br>
                                Duration: 3 years full time</br>
                                Cost: £52,560</br>
                                Application fee: £110</br>
                            </p>
                        </div>

                        <div class="jb-description">
                            <h5>Job placement: </h5>
                            <p>
                                Industry Distribution:</br>
                                Coutry Distribution: </br>

                            </p>
                        </div>

                        <div class="entry-description">
                            <h5>Entry Requirements</h5>
                            <p>
                                Major Requirement:</br>
                                Degree Requirement:</br>
                                GPA Requirements:</br>
                                GMAT Requirements:</br>
                                Language Requirement:</br>
                                Work Experience Requirements: </br>

                            </p>
                        </div>
                        <div class="visa-policy">
                            <h5>Visa Policy </h5>
                            <p>
                                Student visa: 20hrs work time per week Work visa: two-years visa free policy after graduation Years of living in UK to be eligible for PR application : 5 years

                            </p>
                        </div>

                    </div>

                    <div class="accord-footer">
                        <div class="flx">
                            <h5>WEBSITE:</h5>
                            <p><a href="https://www.sbs.ox.ac.uk/programmes/degrees/msc-financial-economics">https://www.sbs.ox.ac.uk/programmes/degrees/msc-financial-economics</a></p>
                        </div>
                        <div class="flx">
                            <h5>Email:</h5>
                            <p><a mailto="MFE-Enquiries@sbs.ox.ac.uk">MFE-Enquiries@sbs.ox.ac.uk</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Rtable-row">
                <div class="rtable-sec">
                    <div class="Rtable-cell checkbox column-heading"></div>
                    <div class="Rtable-cell date-cell">

                        <div class="Rtable-cell--content date-content"><span class="university-t"><img src="images/cambridgeuniversity.png">Cambridge University</span></div>
                    </div>
                    <div class="Rtable-cell topic-cell">
                        <div class="Rtable-cell--content title-content">UK</div>
                    </div>
                    <div class="Rtable-cell access-link-cell">
                        <div class="Rtable-cell--heading">Bachelor in Economics</div>

                    </div>
                    <div class="Rtable-cell replay-link-cell">
                        <div class="Rtable-cell--heading">Top</div>

                    </div>
                    <div class="Rtable-cell Rtable-cell--foot pdf-cell">
                        <div class="Rtable-cell--content pdf-content"><a><i class="icon-Asset-112"></i>Remove</a></div>
                    </div>
                    <div class="Rtable-cell Rtable-cell--foot application-cell">
                        <div class="Rtable-cell--content pdf-content"><a><i class="icon-Asset-113"></i>Add to application list</a></div>
                    </div>
                    <div class="accord-arrow">
                        <span class="icon-Asset-109"></span>
                    </div>
                </div>

                <div class="accordion-container">
                    <div class="accord-content">
                        <div class="pg-description">
                            <h5>Program Description</h5>
                            <p>
                                Start date:18 September 2023</br>
                                Duration: 3 years full time</br>
                                Cost: £52,560</br>
                                Application fee: £110</br>
                            </p>
                        </div>

                        <div class="jb-description">
                            <h5>Job placement: </h5>
                            <p>
                                Industry Distribution:</br>
                                Coutry Distribution: </br>

                            </p>
                        </div>

                        <div class="entry-description">
                            <h5>Entry Requirements</h5>
                            <p>
                                Major Requirement:</br>
                                Degree Requirement:</br>
                                GPA Requirements:</br>
                                GMAT Requirements:</br>
                                Language Requirement:</br>
                                Work Experience Requirements: </br>

                            </p>
                        </div>
                        <div class="visa-policy">
                            <h5>Visa Policy </h5>
                            <p>
                                Student visa: 20hrs work time per week Work visa: two-years visa free policy after graduation Years of living in UK to be eligible for PR application : 5 years

                            </p>
                        </div>

                    </div>

                    <div class="accord-footer">
                        <div class="flx">
                            <h5>WEBSITE:</h5>
                            <p><a href="https://www.sbs.ox.ac.uk/programmes/degrees/msc-financial-economics">https://www.sbs.ox.ac.uk/programmes/degrees/msc-financial-economics</a></p>
                        </div>
                        <div class="flx">
                            <h5>Email:</h5>
                            <p><a mailto="MFE-Enquiries@sbs.ox.ac.uk">MFE-Enquiries@sbs.ox.ac.uk</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>