<div class="trackingappli-sect">
    <span class="logo-university"><img src="images/mituniverstiy.png"/></span>
    <span class="university-details">
        <strong>MIT Sloan School of Management</strong>
        <legend>Bachelor of Finance </br>
            Application fee: US$150 
        </legend>
        <a href="" class="submitapplication">To Submit Application</a>
    </span>
</div>

<div class="table-container">
    <div class="table-row heading">
        <div class="row-item checkbox-cell"><label class="label-container">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
        <div class="row-item">Applicatio</div>
        <div class="row-item">Requirements</div>
        <div class="row-item">Prep status</div>
        <div class="row-item">To Prepare</div>
        <div class="row-item seeking-cell">Service Seeking</div>
    </div>
    <div class="table-row">
        <div class="row-item checkbox-cell"><label class="label-container">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
        <div class="row-item doc-type">CV</div>
        <div class="row-item viewlink"><a class="clr2">View</a></div>
        <div class="row-item statusknw"><button class="status upload-btn">Completed</button></div>
        <div class="row-item prepare-cell">
            <div class="flx"><span class="textinput">
            <label class="uploadfile"></label>
             <input type="file" name="myfile">
        </span> <em>Or</em> <a class="draftbtn clr5">Draft CV</a></div>
        </div>
        <div class="row-item seeking-cell"><a>Seek for help</a></div>
    </div>
    <div class="table-row">
        <div class="row-item checkbox-cell"><label class="label-container">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
        <div class="row-item doc-type">Transcript</div>
        <div class="row-item viewlink"><a class="clr2">View</a></div>
        <div class="row-item statusknw"><button class="brownclr">To be done</button></div>
        <div class="row-item prepare-cell">
            <div class="flx"><span class="textinput">
            <label class="uploadfile"></label>
             <input type="file" name="myfile">
        </span></div>
        </div>
        <div class="row-item seeking-cell"><a>Seek for help</a></div>
    </div>
    <div class="table-row">
        <div class="row-item checkbox-cell"><label class="label-container">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
        <div class="row-item doc-type">Recommendation Letter</div>
        <div class="row-item viewlink"><a class="clr2">View</a></div>
        <div class="row-item statusknw"><button class="clr3">Waiting</button></div>
        <div class="row-item prepare-cell">
            <div class="flx"><span class="textinput selecop">
            <select><option>Select the referee(s)</option></select>
        </span></div>
        </div>
        <div class="row-item seeking-cell"></div>
    </div>
    <div class="table-row">
        <div class="row-item checkbox-cell"><label class="label-container">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
        <div class="row-item doc-type">Answers to Application Questions</div>
        <div class="row-item viewlink"><a class="clr2">View</a></div>
        <div class="row-item statusknw"><button class="brownclr">To be done</button></div>
        <div class="row-item prepare-cell">
            <div class="flx"><span class="textinput">
                <a class="draftbtn clr5">Draft the answers</a>
        </span></div>
        </div>
        <div class="row-item seeking-cell"></div>
    </div>
    <div class="table-row">
        <div class="row-item checkbox-cell"><label class="label-container">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
        <div class="row-item doc-type">CV</div>
        <div class="row-item viewlink"><a class="clr2">View</a></div>
        <div class="row-item statusknw"><button class="status upload-btn">Completed</button></div>
        <div class="row-item prepare-cell">
            <div class="flx"><span class="textinput">
            <label class="uploadfile"></label>
             <input type="file" name="myfile">
        </span></div>
        </div>
        <div class="row-item seeking-cell"><a>Seek for help</a></div>
    </div>
</div>